html
  head
    title YASURI
    link(rel="stylesheet", href="/css/ladda.min.css")
    link(rel="stylesheet", href="/css/app.css")
  body
    header
      h1 YASURI
    div#content(data-authorize-url="#{authorizeUrl}")
    script(src="/js/libgif.js")
    script(src="/js/bundle.js")
