html
  head
    title YASURI
    link(rel="stylesheet", href="/css/ladda.min.css")
    link(rel="stylesheet", href="/css/app.css")
  body
    h1 YASURI
    div#indicator
      img(src="/img/indicator.gif")

    section.scene.upload-scene
      p.user
        span Hello&nbsp;
        span.user-name
        img.user-avatar(width="30", height="30")
      div.uploader
        input(type="file", style="display:none")
        button.ladda-button(data-style="expand-right", data-color="red", data-size="xl")
          span.ladda-label +UPLOAD
        p Animated GIF here
      section.result
        ul.products
    section.scene.signin-scene
      a(href="#{authorizeUrl}") Sign in SUZURI

    script(src="/js/bundle.js")
